bin

*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
*.class

.worksheet/bin/main/temp$$anonfun$main$1$$anonfun$1.class

.worksheet/bin/main/temp$$anonfun$main$1.class
